/**
 * Entity gallery styles.
 */

.entity-gallery {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

@media screen and (min-width: 650px) {
  .entity-gallery {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media screen and (min-width: 890px) {
  .entity-gallery {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

.entity-gallery-item {
  align-self: flex-start;
}

.entity-gallery-content {
  position: relative;
}

.entity-gallery-content figure,
.entity-gallery-content img {
  width: 100%;
  height: 100%;
}

/*
  Ajax progress throbber
*/
.entity-gallery-content .ajax-progress,
.entity-gallery-content .ajax-progress::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.entity-gallery-content .ajax-progress::before {
  background-color: rgb(0 0 0 / 50%);
}

.entity-gallery-content .ajax-progress .throbber {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*
  Entity gallery slideshow styles
*/
.entity-gallery-slideshow {
  width: auto;
  height: 100%;
  overflow: hidden;
  margin: 0 auto;
}

.entity-gallery-slideshow-pager {
  margin-bottom: 15px;
}
